<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="shortcut icon" href="assets/images/kisspng-solar-power-business-internet-of-things-solar-pane-5b2d789b46d5b8.7641683815297066512902-122x122.png" type="image/x-icon">
		<meta name="description" content="">
  
		<title>Data Analyzer Errors</title>
		<link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
		<link rel="stylesheet" href="assets/tether/tether.min.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="assets/socicon/css/styles.css">
		<link rel="stylesheet" href="assets/dropdown/css/style.css">
		<link rel="stylesheet" href="assets/theme/css/style.css">
		<link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
		<link rel="stylesheet" href="/dataTables.bootstrap4.min.css">
    </head>
    <body>
        <script src="/jquery.js"></script>
        <script src="/jquery.dataTables.min.js"></script>
        <script src="/bootstrap.min.js"></script>
        <script src="/jquery-ui.min.js"></script>
        <script src="/dataTables.bootstrap4.min.js"></script>
        <script src="/moment.min.js"></script>
        <script src="/Chart.min.js"></script>
	<script src="assets/popper/popper.min.js"></script>
        <script src="assets/tether/tether.min.js"></script>
        <script src="assets/dropdown/js/nav-dropdown.js"></script>
        <script src="assets/dropdown/js/navbar-dropdown.js"></script>
        <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
        <script src="assets/parallax/jarallax.min.js"></script>
        <script src="assets/smoothscroll/smooth-scroll.js"></script>
        <script src="assets/theme/js/script.js"></script>
	
		<section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">

			<nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</button>
				
				<div class="menu-logo">
					<div class="navbar-brand">
						<span class="navbar-logo">
						<a onclick="window.location.href='/'">
							<img src="assets/images/kisspng-solar-power-business-internet-of-things-solar-pane-5b2d789b46d5b8.7641683815297066512902-122x122.png" alt="Mobirise" title="" style="height: 4rem;">
						</a>
						</span>
						<span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" onclick="window.location.href='/'">SOLAR DATA ANALYZER</a></span>
					</div>
				</div>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
					<a class="nav-link link text-white display-4" onclick="window.location.href='/table'"><span class="mbri-growing-chart mbr-iconfont mbr-iconfont-btn"></span>
                        
					Data Analyzer</a>
					</li><li class="nav-item"><a class="nav-link link text-white display-4" onclick="window.location.href='/errors'"><span class="mbri-italic mbr-iconfont mbr-iconfont-btn"></span>Errors</a></li>
					<li class="nav-item">
						<a class="nav-link link text-white display-4" onclick="window.location.href='/'"><span class="mbri-star mbr-iconfont mbr-iconfont-btn"></span>
                        
						About &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</a>
					</li></ul>
            
				</div>
			</nav>
		</section>
		
		<br><br><br><br>
        <div class="container">
            <table id="data" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Error</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].timestamp %></td>
                        <td><%= data[i].error %></td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Timestamp</th>
                        <th>Error</th>
                    </tr>
                </tfoot>
            </table>
            <hr>
        </div>
        <script>
            $(document).ready(function() {
                $('#data').DataTable({
                    columnDefs:[
			{targets: 0, render: (data) => {
                        return moment(data).format("MMM DD YYYY, h:mm:ss a");
			}}],
                    order: [[ 0, "desc" ]]
                });
            } );
        </script>
    </body>
</html>
